/* Add styles here */
body{



    background-image: url(https://i.pinimg.com/736x/6f/79/8d/6f798d99ef4b1e488532d63969d7a51f.jpg);
    background-repeat: no-repeat;
    background-size: 65rem;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

.navBar{
    padding: 0px;
    background-color: white;
    opacity: 50%:

}
navBarMenu{
    text-align: right;
    pedding: 5px;
}
ul.navBarMlist > li{
    display: pinline-block;
    padding: 0px 5px;
}